In [5]:
import pandas as pd
import numpy as np 
import pdfplumber

```{python}
columns = "List Sr.No.,Set No.,2025 Set,First Name,Surname,Country,State Association,DOB,Age,Specialism,Batting Type,Bowling Type,Test caps,ODI caps,T20 caps,IPL,Previous IPLTeam(s),2024 Team,2024 IPL,C/U/A,Reserve Price Rs Lakh".split(",")

with pdfplumber.open("1731674068078_TATA IPL 2025- Auction List -15.11.24.pdf") as pdf:
    all_tables = []  # To store DataFrames from all tables
    
    for page_number, page in enumerate(pdf.pages, start=1):
        tables = page.extract_tables()
        
        for table_number, table in enumerate(tables, start=1):
            # Convert the table into a DataFrame
            df = pd.DataFrame(table)
            df.columns = columns
            df = df.iloc[1:,:]
            all_tables.append(df)  # Append the DataFrame to the list
            
            print(f"Page {page_number} Table {table_number} extracted.")
            # print(df.head())  # Display the first few rows of the table
            
# Combine all tables into a single DataFrame (if desired)
combined_df = pd.concat(all_tables, ignore_index=True)

# Save to a CSV file
combined_df.to_csv("auction.csv", index=False)
```

In [17]:
auction_df = pd.read_csv("auction.csv")
auction_df

,List Sr.No.,Set No.,2025 Set,First Name,Surname,Country,State Association,DOB,Age,Specialism,...,Bowling Type,Test caps,ODI caps,T20 caps,IPL,Previous IPLTeam(s),2024 Team,2024 IPL,C/U/A,Reserve Price Rs Lakh
0,1,1,M1,Jos,Buttler,England,NaN,08/09/1990,34,WICKETKEEPER,...,RIGHT ARM Off Spin,57.0,181.0,124.0,107.0,"MI,RR",RR,11.0,Capped,200
1,2,1,M1,Shreyas,Iyer,India,MCA,06/12/1994,30,BATTER,...,RIGHT ARM Off Spin,14.0,62.0,51.0,116.0,"DC,KKR",KKR,15.0,Capped,200
2,3,1,M1,Rishabh,Pant,India,DDCA,04/10/1997,27,BATTER,...,RIGHT ARM Off Spin,37.0,31.0,76.0,111.0,DC,DC,13.0,Capped,200
3,4,1,M1,Kagiso,Rabada,South Africa,NaN,25/05/1995,29,BOWLER,...,RIGHT ARM Fast,66.0,101.0,65.0,80.0,"DC,PBKS",PBKS,11.0,Capped,200
4,5,1,M1,Arshdeep,Singh,India,PCA,05/02/1999,26,BOWLER,...,LEFT ARM Fast Medium,NaN,8.0,56.0,65.0,PBKS,PBKS,14.0,Capped,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,570,79,UAL15,Khrievitso,Kense,India,NCA,06/03/2004,21,ALL-ROUNDER,...,RIGHT ARM Leg Spin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncapped,30
570,571,79,UAL15,Akash,Parkar,India,MCA,20/05/1994,30,ALL-ROUNDER,...,RIGHT ARM Medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncapped,30
571,572,79,UAL15,Vignesh,Puthur,India,KCA,02/03/2001,24,ALL-ROUNDER,...,LEFT ARM Slow Unorthodox,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncapped,30
572,573,79,UAL15,Tripuresh,Singh,India,MPCA,13/04/2002,22,ALL-ROUNDER,...,RIGHT ARM Medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncapped,30
573,574,79,UAL15,Vijay,Yadav,India,UPCA,19/12/2001,23,ALL-ROUNDER,...,RIGHT ARM Off Spin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Uncapped,30

In [28]:
capped = auction_df[auction_df["C/U/A"] == 'Capped']
capped
csk = capped[capped["Previous IPLTeam(s)"].apply(lambda x: "CSK" in str(x).upper())]
capped.sort_values("Reserve Price Rs Lakh", ascending = False)

,List Sr.No.,Set No.,2025 Set,First Name,Surname,Country,State Association,DOB,Age,Specialism,...,Bowling Type,Test caps,ODI caps,T20 caps,IPL,Previous IPLTeam(s),2024 Team,2024 IPL,C/U/A,Reserve Price Rs Lakh
0,1,1,M1,Jos,Buttler,England,NaN,08/09/1990,34,WICKETKEEPER,...,RIGHT ARM Off Spin,57.0,181.0,124.0,107.0,"MI,RR",RR,11.0,Capped,200
44,45,7,SP1,Adam,Zampa,Australia,NaN,31/12/1992,32,BOWLER,...,RIGHT ARM Leg Spin,103.0,NaN,92.0,20.0,"RPS,RCB,RR",RR,0.0,Capped,200
162,163,24,AL3,Moeen,Ali,England,NaN,18/06/1987,37,ALL-ROUNDER,...,RIGHT ARM Off Spin,68.0,138.0,92.0,67.0,"RCB,CSK",CSK,8.0,Capped,200
160,161,23,BA3,James,Vince,England,NaN,14/03/1991,34,BATTER,...,NaN,13.0,25.0,17.0,NaN,NaN,NaN,NaN,Capped,200
157,158,23,BA3,Rilee,Rossouw,South Africa,NaN,09/10/1989,35,BATTER,...,NaN,NaN,36.0,29.0,22.0,"RCB,DC,PBKS",PBKS,8.0,Capped,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,253,36,FA4,Richard,Gleeson,England,NaN,02/12/1987,37,BOWLER,...,RIGHT ARM Fast,NaN,NaN,6.0,2.0,CSK,CSK,2.0,Capped,75
250,251,35,WK4,Kyle,Verreynne,South Africa,NaN,12/05/1997,27,WICKETKEEPER,...,NaN,20.0,17.0,NaN,NaN,NaN,NaN,NaN,Capped,75
249,250,35,WK4,Ollie,Pope,England,NaN,02/01/1998,27,WICKETKEEPER,...,NaN,52.0,NaN,NaN,NaN,NaN,NaN,NaN,Capped,75
247,248,35,WK4,Andre,Fletcher,West Indies,NaN,28/11/1987,37,WICKETKEEPER,...,RIGHT ARM Leg Spin,NaN,25.0,58.0,NaN,NaN,NaN,NaN,Capped,75
518,519,72,FA10,Andrew,Tye,Australia,NaN,12/12/1986,38,BOWLER,...,RIGHT ARM Fast Medium,NaN,7.0,32.0,30.0,"GL,PBKS,RR,LSG",NaN,NaN,Capped,75

In [29]:
auction_df[auction_df['First Name']=="James"]

,List Sr.No.,Set No.,2025 Set,First Name,Surname,Country,State Association,DOB,Age,Specialism,...,Bowling Type,Test caps,ODI caps,T20 caps,IPL,Previous IPLTeam(s),2024 Team,2024 IPL,C/U/A,Reserve Price Rs Lakh
160,161,23,BA3,James,Vince,England,NaN,14/03/1991,34,BATTER,...,NaN,13.0,25.0,17.0,NaN,NaN,NaN,NaN,Capped,200
478,479,67,FA9,James,Anderson,England,NaN,30/07/1982,42,BOWLER,...,RIGHT ARM Fast,188.0,194.0,19.0,NaN,NaN,NaN,NaN,Capped,125